# Что сегодня сделаем
Библиотеку для получения курсов валют в 2 строки

In [1]:
from libs.exchange import Rate

In [2]:
Rate().usd()

73.2056

In [3]:
Rate('full').AZN()

{'ID': 'R01020A',
 'NumCode': '944',
 'CharCode': 'AZN',
 'Nominal': 1,
 'Name': 'Азербайджанский манат',
 'Value': 42.7903,
 'Previous': 43.2136}

### Упражнение
Дана строка со значениями, которые разделены запятыми:

In [4]:
line = '2019-07-01,organic,4293'

**Задача**

Напишите функцию column_count, которая возвращает число столбцов в такой строке

**Подсказка**

Можно перевести эту строку в список с помощью метода split: line.split(','). И затем посчитать количество элементов в нем (функция len)

In [8]:
line = '2019-07-01,organic,4293'

In [10]:
len(line.split(','))

3

In [5]:
def column_count(line):
    return len(line.split(','))

In [6]:
column_count(line)

3

In [16]:
def column_count(line, count_zero_lines=True):
    if line and count_zero_lines:
        list_line = line.split(',')
        return len(list_line)
    else:
        return 0
column_count(line)

3

In [17]:
column_count('')

0

# Классы
Пример использования переменной в разных методах

In [4]:
class AnyName:
    def method_1(self):
        self.currency = 'usd'
    
    def method_2(self):
        print(self.currency)

In [5]:
a = AnyName()

In [6]:
a.method_1()

In [7]:
a.currency = '123'

In [8]:
a.method_2()

123

### Метод __init__

In [9]:
# метод __init__ выполняется при вызове класса

class Rate:
    def __init__(self):
        self.format = 'value'
        print(self.format)

In [10]:
r = Rate()

value

In [11]:
r.format

'value'

### Класс для курсов валют

In [12]:
class Rate:
    def __init__(self):
        self.format = 'value'
    
    def show_current_format(self):
        return self.format

In [13]:
r = Rate()

In [14]:
r.format = 'Full'

In [15]:
r.show_current_format()

'Full'

Пример инициализации со значением переменной

In [16]:
class Rate:
    def __init__(self, format_):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [17]:
r = Rate(format_='123')

In [18]:
r.show_current_format()

'123'

Или сразу со значением по умолчанию

In [19]:
class Rate:
    def __init__(self, format_='value'):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [20]:
r = Rate()
r.show_current_format()

'value'

In [21]:
r_full = Rate(format_='full')
r_full.show_current_format()

'full'

In [22]:
# значения переменных класса можно менять

r.format = 'full_123'
r.show_current_format()

'full_123'

### Упражнение
Создайте класс сотрудника Employee. При инициализации класса задается имя сотрудника name и его текущая зарплата salary. Напишите следующие методы:
1. Метод up, который увеличивает зарплату сотрудника на 100
2. Метод print, который выводит на экран текущую зарплату сотрудника в формате "Сотрудник Иван, зарплата 100"

In [23]:
class Employee:
    def __init__(self, name='', salary=0):
        try:
            self.name = name
            self.salary = float(salary)
        except:
            print('Некорректные данные')
    
    def up(self):
        self.salary += 100
        
    def print(self):
        print(f'Сотрудник {self.name}, зарплата {self.salary}')

In [24]:
ivan = Employee(name='Ivan', salary=0)

In [25]:
ivan.up()
ivan.print()

Сотрудник Ivan, зарплата 100.0

In [26]:
class Employee:
    def __init__(self, name_ = 'Ivan', salary_ = 500):
        self.name = name_
        self.salary = salary_
    def method_up(self):
        self.salary += 100
        print(f'Новая зарплата  {self.name} -  {self.salary}' )
    def method_print(self):
        print(f'Сотрудник {self.name} , зарплата {self.salary}')

In [27]:
ivan = Employee()

In [28]:
ivan.method_up()
ivan.method_print()

Новая зарплата  Ivan -  600
Сотрудник Ivan , зарплата 600

In [29]:
elena = Employee(name_ = 'Elena', salary_ = 650)

In [ ]:
class GameObject():
    def move()
    
    def attack()
    
    def level_up()

In [ ]:
class Human

In [ ]:
class Elf

In [ ]:
class Ork

### Полная версия класса

In [39]:
import requests

In [14]:
class Rate:
    """
    
    """
    def __init__(self, format_='value', diff=False):
        self.format = format_
        self.diff = diff
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        self.r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return self.r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                if self.diff == False:
                    return response[currency]['Value']
                elif self.diff == True:
                    return response[currency]['Value'] - response[currency]['Previous']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')
    
    def brl(self):
        """Возвращает курс бразильского реала на сегодня в формате self.format"""
        return self.make_format('BRL')

In [15]:
r = Rate(format_='value',diff=True)
r.eur()

-0.7754000000000048

In [2]:
import requests

def max_curr():
    r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
    info = r.json()['Valute']
    max_value = 0
    max_name = ''
    for value in info.values():
        if value['Value'] > max_value:
#             max_value = value['Value']
            max_name = value['Name']
    print(max_name)
        
max_curr()

СДР (специальные права заимствования)

In [42]:
r.eur()

79.1279

In [43]:
r = Rate()

In [46]:
r.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 47.2908,
  'Previous': 47.6182},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 42.7903,
  'Previous': 43.2136},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 89.384,
  'Previous': 90.2683},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 15.0104,
  'Previous': 15.1601},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 29.9385,
  'Previous': 30.1385},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 40.4786,
  'Previous': 40.8768},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 12.5978,
  'Previous': 12.5581},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 22.3805,
  'Previous': 22.563},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 94.443,
  'Previous': 95.3859},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 10.6161,
  'Previous': 10.7221},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 73.2056,
  'Previous': 73.9298},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 79.1279,
  'Previous': 79.9033},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 96.8648,
  'Previous': 97.8393},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.4108,
  'Previous': 17.475},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 52.1185,
  'Previous': 52.4585},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 95.0722,
  'Previous': 96.0536},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 1,
  'Name': 'Китайский юань',
  'Value': 10.3108,
  'Previous': 10.4206},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 41.1267,
  'Previous': 41.5336},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 72.1159,
  'Previous': 72.6904},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 17.3761,
  'Previous': 17.4936},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 16.3603,
  'Previous': 16.5299},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 99.4666,
  'Previous': 100.7456},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 51.4301,
  'Previous': 52.0266},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 71.3157,
  'Previous': 72.0563},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.5831,
  'Previous': 10.6166},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 20.9458,
  'Previous': 21.153},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 72.1593,
  'Previous': 72.9296},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 27.4836,
  'Previous': 27.7208},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 28.8325,
  'Previous': 29.0126},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 74.5809,
  'Previous': 75.2535},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 75.237,
  'Previous': 76.0125},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 39.7824,
  'Previous': 39.7838},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 59.4795,
  'Previous': 60.2245},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 68.3813,
  'Previous': 69.1935}}

Документация необходима почти всем методам

In [45]:
?r.exchange_rates

# Система повышения сотрудников

### Упражнение
Создайте класс Employee. При инициализации указываются имя сотрудника (name) и трудовой стаж в пройденных аккредитациях (seniority). Напишите метод init, в котором задаются соответствующие переменные - self.name и self.seniority.

### Упражнение
Заведите переменную self.grade при инициализации класса со значением 0. Добавьте метод grade_up, который увеличивает это значение на 1. На всякий случай - этот метод может ничего не возвращать, только изменять переменную.

# Наследование

Разработчикам финансового департамента помимо курса надо работать с кодами валют. Как сохранить сохранить разработку класса Rate у нас, а полезные функции передать финансистам?

In [76]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')

Теперь классу CurrencyCodes доступны все методы класса Rate. Можем продолжать разработку в нужном направлении.

In [77]:
cc = CurrencyCodes()

In [78]:
CurrencyCodes().usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 73.4326,
 'Previous': 73.8725}

Допишем в класс что-нибудь свое новенькое

In [79]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')
    
    def currency_id(self, currency):
        """Получение идентификатора валюты"""
        return self.make_format(currency)['ID']

In [85]:
currency = CurrencyCodes()

In [86]:
currency.make_format('USD')

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 73.4326,
 'Previous': 73.8725}

In [81]:
currency.currency_id('USD')

'R01235'

# Система повышения сотрудников
Пригодится для домашнего задания

In [16]:
class Employee:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        
        self.grade = 1
    
    def grade_up(self):
        """Повышает уровень сотрудника"""
        self.grade += 1
    
    def publish_grade(self):
        """Публикация результатов аккредитации сотрудников"""
        print(self.name, self.grade)
    
    def check_if_it_is_time_for_upgrade(self):
        pass

In [17]:
class Developer(Employee):
    def __init__(self, name, seniority):
        super().__init__(name, seniority)
    
    def check_if_it_is_time_for_upgrade(self):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
        
        # условие повышения сотрудника из презентации
        if self.seniority % 5 == 0:
            self.grade_up()
        
        # публикация результатов
        return self.publish_grade()

In [21]:
class Designer(Employee):
    def __init__(self, name, seniority, awards):
        super().__init__(name, seniority)
        self.awards = awards
        self.seniority += self.awards * 2
    
    def check_if_it_is_time_for_upgrade(self):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
        
        # условие повышения сотрудника из презентации
        if self.seniority % 7 == 0:
            self.grade_up()
        
        # публикация результатов
        return self.publish_grade()

In [88]:
# проверяем как работает система повышения сотрудников на примере отдела разработки

# разработчик Александр только что пришел в компанию
alex = Developer('Александр', 0)

In [90]:
alex.grade, alex.name, alex.

(1, 'Александр')

In [91]:
for i in range(20):
    alex.check_if_it_is_time_for_upgrade()

Александр 1
Александр 1
Александр 1
Александр 1
Александр 2
Александр 2
Александр 2
Александр 2
Александр 2
Александр 3
Александр 3
Александр 3
Александр 3
Александр 3
Александр 4
Александр 4
Александр 4
Александр 4
Александр 4
Александр 5

# Домашнее задание задача 3

Напишите класс Designer, который учитывает количество международных премий для дизайнеров (из презентации: "Повышение на 1 грейд за каждые 7 баллов. Получение международной премии – это +2 балла"). Считайте, что при выходе на работу сотрудник уже имеет две премии и их количество не меняется со стажем (конечно если хотите это можно вручную менять). Выполните проверку для 20 аккредитаций дизайнера Елены.

Для проверки используйте код:

In [22]:
elena = Designer('Елена', seniority=0, awards=2)

In [23]:
for i in range(20):
    elena.check_if_it_is_time_for_upgrade()

Елена 1
Елена 1
Елена 2
Елена 2
Елена 2
Елена 2
Елена 2
Елена 2
Елена 2
Елена 3
Елена 3
Елена 3
Елена 3
Елена 3
Елена 3
Елена 3
Елена 4
Елена 4
Елена 4
Елена 4

# Импорт классов и функций

In [92]:
from libs.exchange import my_sum

In [ ]:
from datetime import datetime

In [ ]:
datetime.strptime()

In [ ]:
my_sum(1, 2)

In [93]:
from libs.exchange import Rate

In [94]:
Rate().AZN()

43.2848

In [ ]:
# такой способ импорта крайне не рекомендуется
from libs.exchange import *

Если библиотека лежит в произвольной папке

In [ ]:
import sys
sys.path.append('адрес_папки_с_файлами')

In [95]:
import sys
sys.path

['/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8',
 '/Users/kbashevoy/anaconda3/lib/python37.zip',
 '/Users/kbashevoy/anaconda3/lib/python3.7',
 '/Users/kbashevoy/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/kbashevoy/.local/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/kbashevoy/.ipython']

In [96]:
# пример

import sys
sys.path.append('/Users/kbashevoy/Downloads/rate_lib')

In [97]:
sys.path

['/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8',
 '/Users/kbashevoy/anaconda3/lib/python37.zip',
 '/Users/kbashevoy/anaconda3/lib/python3.7',
 '/Users/kbashevoy/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/kbashevoy/.local/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/kbashevoy/.ipython',
 '/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8/libs']

In [98]:
from exchange import my_sum

In [99]:
my_sum(3, 3)

6