In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

Создадим сэмпл датасета с прогнозом стоимости страховки на автомобиль. 
Допустим, что он расчитывается как лошадиные силы, умноженные на возраст автомобиля.

In [4]:
# Создаём сэмпл
n_samples = 500
year = np.arange(2000,2020)

year_sold = np.random.choice(year, n_samples)  # год продажи
horse_power = np.random.choice(200, n_samples) + 49 # лошадиные силы
car_age = np.random.choice(15, n_samples) + 3  # сколько прошло лет с момента производства автомобиля

insurance = horse_power * car_age * 100 + 84

data = pd.DataFrame({'year_sold': year_sold, 'horse_power': horse_power, 'car_age': car_age, 'insurance': insurance})
data.head(5)

   year_sold  horse_power  car_age  insurance
0       2013          116       16     185684
1       2011          160        6      96084
2       2012          231        6     138684
3       2002          165       11     181584
4       2015          191       13     248384

In [5]:
from sklearn.metrics import mean_absolute_error

X = data[['year_sold', 'horse_power', 'car_age']]
y = data['insurance']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['year_sold', 'horse_power', 'car_age']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  -78.1317233    987.27045135 14924.25240077]
Bias: 9918.855050422193
Error: 18368.447210026025

In [8]:
y.median()

127884.0

Модель показывает сдвиг почти 10000 вместо 84, а ошибка составляет 14% от среднего значения, это много.

In [6]:
X = data[['horse_power', 'car_age']]
y = data['insurance']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['horse_power', 'car_age']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  986.93609853 14928.91874202]
Bias: -147124.15890709675
Error: 18379.646142816462

Тут тоже большая ошибка и она не изменилась, даже когда мы убрали возраст, который не влияет на страховку.

In [7]:
# Создаем новый признак, так как у нас мультипликативная модель

data['mult'] = data['horse_power'] * data['car_age']
data.head(5)

   year_sold  horse_power  car_age  insurance  mult
0       2013          116       16     185684  1856
1       2011          160        6      96084   960
2       2012          231        6     138684  1386
3       2002          165       11     181584  1815
4       2015          191       13     248384  2483

In [9]:
X = data[['mult']]
y = data['insurance']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [100.]
Bias: 83.9999999999709
Error: 8.87666828930378e-12

А в этот раз с использованием нового признака модель предсказывает абсолютно точно